git+https://github.com/huggingface/diffusers.git
transformers==4.57.3
huggingface_hub
spaces==0.43.0
sentencepiece
torch==2.8.0
bitsandbytes
torchvision
accelerate
torchao
hf_xet
gradio #gradio@6
numpy
peft
av
